* {
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
}

header {
    width: 100% auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 18px;
}

.left_top,
.right_top,
.center_top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left_top > h1 > img {
    height: 30px;
}

.search {
    border: 1px solid #908f8f;
    border-radius: 30px;
    width: 600px;
    height: 35px;
}

.search > input { 
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    padding: 10px 15px;
}

i:nth-child(2) {
    color: #908f8f;
    font-size: 15px;
    margin-left: 300px;
}

i:nth-child(3) {
   padding: 0 15px;
   font-size: 20px;
}

.right_top > figure > img {
    height: 35px;
}

main {
    display: flex;
}

.content {
    display: flex;
}


.aside {
    display: flex;
    width: 15%;
}