:root {
    --main_color: blue;
    --sub_color:skyblue;
    --button_color:pink;
    --lg_font:56px
}

.text-color {
    color: aqua;
}
.main_text {
    color: var(--main_color);
    font-size: var(--lg_font);
}

.sub_text {
    color: var(--sub_color);
}

.button {
    color: var(--button_color);
}