* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    overflow: hidden;
}


.top {
    display: flex;
    justify-content: flex-end;
}

.text {
    display: flex;
    margin: 5px 0px;
}

.text > a {
    font-size: 12px;
    padding: 0px 20px;
}

.text > a,
.menu > li > a {
    text-decoration: none;
    color: black;
}

.menu > li > a {
    font-weight: 700;
    margin: 0px 30px;
    
}

section {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0px;
    height: 50px;
}

.menu,
.right {
    display: flex;
    list-style: none;
    align-items: center;
 }

img {
   height: 25px;
   padding: 0 20px;
   margin-right: 60px;
   cursor: pointer;
}

li {
    display: flex;
    margin: 0 auto;
    cursor: none;
}



i {
    color: #000;
    padding: 0 20px;
    font-size: 20px;
    height: auto;
}

.menu > li > a:hover {
    color: rgb(62, 104, 231);
    
}


@media (max-width:452px) {
    
    .top,
    .menu > li,
    .right > div:nth-of-type(2) {
        display: none;
   

    }    
}