* {
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background: #fff;
}

.left_top,
.right_top,
.center_top {
    display: flex;
    align-items: center; 
    padding: 8px 20px;
    gap: 15px;
}

.left_top > h1 > img {
    height: 30px;
}

.search {
    border: 1px solid #908f8f;
    border-radius: 30px;
    width: 500px;
    height: 35px;
}

.search > input { 
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    padding: 10px 15px;
}

i:nth-child(2) {
    color: #908f8f;
    font-size: 15px;
    margin-left: 200px;
}

i:nth-child(3) {
   padding: 0 15px;
   font-size: 20px;
}

.right_top > figure > img {
    height: 35px;
}



.container {
    display: flex;
}

.media {
    margin-top: 45px;
    padding: 25px 20px 10px 20px;
}

video {
    width: 1100px;
    border-radius: 15px;
}



.aside_text {
   margin-top: 45px;
}

.aside {
    display: flex;
    width: 100% auto;
    padding-top: 25px;
    padding-right: 20px;
    gap: 10px;
}
    
.aside > figure > img {
    border-radius: 10px;
}

.top_text {
    display: flex;
    margin-bottom: 5px;
}

.center_text {
    display: flex;
    margin-top: 5px;
}

.top_text > h3,
.center_text > h4 {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.center > p,
.center_text > p {
    font-size: 11px;
    color: gray;
    line-height: 15px;
    
}

.center_text > a {
    font-size: 2px;
    padding: 8px 4px;
    color: gray;
}

.bottom_text {
    width: 130px;
    height: 25px;
    background: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    transform: translateY(22px);
}

footer {
    margin: 0 20px;
    width: 1100px;
}



.footer_top > h1 { 
    font-weight: 900;
}

.footer_left {
    display: flex;
}

.footer_center {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



